/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/vendor/bundle/
/vendor/cache/
/coverage/
.idea/
spec/dummy/tmp/
examples/demo_app/tmp/
.superpowers/
standalone/config/master.key
standalone/tmp/
standalone/log/*.log
