<section class="ck-page-header">
  <div>
    <p class="ck-step">Setup</p>
    <h1 class="ck-title">Edit metric group</h1>
    <p class="ck-lead">Change which metrics should be applied together.</p>
  </div>
  <div class="ck-actions">
    <%= link_to "View group", metric_group_path(@metric_group), class: ck_button_classes(:light, variant: :outline) %>
  </div>
</section>

<%= render "form", metric_group: @metric_group %>
