<ol class="ck-breadcrumb">
  <li><%= link_to "Metrics", metrics_path %></li>
  <li><%= link_to "Groups", metric_groups_path %></li>
  <li>New</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">New metric group</h1>
  </div>
</section>

<%= render "form", metric_group: @metric_group %>
