<h1>New Prompt</h1>

<div class="card">
  <div class="card-header">
    <h5>Create a new prompt template</h5>
  </div>
  <div class="card-body">
    <%= render 'form', prompt: @prompt %>
  </div>
</div>
