<ol class="ck-breadcrumb">
  <li><%= link_to "Runs", test_runs_path %></li>
  <li><%= link_to @test_run.name, test_run_path(@test_run) %></li>
  <li>Edit</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">Edit run</h1>
  </div>
</section>

<%= render "form", test_run: @test_run %>
