<ol class="ck-breadcrumb">
  <li><%= link_to "Runs", test_runs_path %></li>
  <li>New</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">New run</h1>
  </div>
</section>

<%= render "form", test_run: @test_run %>
