<ol class="ck-breadcrumb">
  <li><%= link_to "Runs", runs_path %></li>
  <li>New run</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">New run</h1>
  </div>
</section>

<%= render "form", run: @run %>
