<ol class="ck-breadcrumb">
  <li><%= link_to "Prompts", prompts_path %></li>
  <% if @run.prompt %>
    <li><%= link_to @run.prompt.name, prompt_path(@run.prompt) %></li>
  <% end %>
  <li>New run</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">New run</h1>
  </div>
</section>

<%= render "form", run: @run %>
