<ol class="ck-breadcrumb">
  <li><%= link_to "Settings", provider_credentials_path %></li>
  <li>New</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">New provider</h1>
  </div>
</section>

<%= render "form", provider_credential: @provider_credential %>
