<ol class="ck-breadcrumb">
  <li><%= link_to "Metrics", metrics_path %></li>
  <li><%= link_to @criteria.name, criterion_path(@criteria) %></li>
  <li>Edit</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">Edit criteria</h1>
  </div>
</section>

<%= render "form", criteria: @criteria %>
