<ol class="ck-breadcrumb">
  <li><%= link_to "Metrics", metrics_path %></li>
  <li><%= link_to "Criteria", criteria_path %></li>
  <li>New</li>
</ol>

<section class="ck-page-header">
  <div>
    <h1 class="ck-title">New criteria</h1>
  </div>
</section>

<%= render "form", criteria: @criteria %>
